@import "/public/breakpoints";

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.link {
  color: black;
}

.item {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;

  @include media('<sm') {
    flex-direction: column;
  }
}

h5 {
  white-space: nowrap;
}