.inputsWrapper {
  display: grid;
  grid-template-columns: 1fr;

}

.label {
  display: flex;
  flex-direction: column;
}

.buttonsWrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -10px;
}