.root {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  list-style: none;
  padding: 20px 0 0;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

h5 {
  white-space: nowrap;
}