.root {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.list {
  list-style: none;
  padding: 20px 0 0;
}

.loader {
  margin-top: 100px;
  display: inline-block;
  width: 80px;
  height: 80px;

  &:before {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #007bff;;
    border-color: #007bff transparent #007bff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}